.news-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.news-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

.news-metadata {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 20px;
}

.news-body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.news-body p {
    margin-bottom: 20px;
}

.news-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
